@model LoginViewModel
@{
    ViewData["Title"] = "LogIn";
}

<h2>LogIn</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-5">
            <form asp-action="LogIn" asp-controller="User" method="post">
                <div class="form-group">
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" type="text" class="form-control" placeholder="Username" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
